<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="true">
    <appender name="CA" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{MMM dd yyyy HH:mm:ss} (%F:%L) %-5p: %m%n"/>
        </layout>
    </appender>

    <logger name="org.mongodb">
        <level value="error"/>
        <appender-ref ref="CA"/>
    </logger>

    <logger name="org.apache.http">
        <level value="error"/>
        <appender-ref ref="CA"/>
    </logger>

    <root>
        <priority value="debug"/>
        <appender-ref ref="CA"/>
    </root>
</log4j:configuration>